
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap');

body{
    background-color: rgb(139, 195, 176);
    font-family: Libertinus Serif Display;
    color: rgb(12, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #12a750;
    color: white;
    
}
}
